.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
output/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
/src/Server/db/*.db
*.fs.js
*.fs.js.map
.DS_Store
src/.DS_Store
src/Server/.DS_Store
